:root {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: var(--text-color);
    background-color: var(--bg-color);
    -webkit-tap-highlight-color: transparent;
}

:root,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
}

/* themes */
:root {
    --button-bg-color: #aaa;
    --button-text-color: #000;
    --switch-button-bg-color: #222222;
    --switch-button-bg-color-selected: #563333;
    --text-color: #000;
    --bg-color: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --button-bg-color: #222222;
        --button-text-color: #fff;
        --switch-button-bg-color: #222222;
        --switch-button-bg-color-selected: #563333;
        --text-color: #D7D7D7;
        --bg-color: #454545;
    }
}

.preloading {
    background-image: linear-gradient(0deg, rgba(58,58,58,0.5) 0%, rgba(128,128,128,0.5) 50%, rgba(58,58,58,0.5) 100%);
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 200% 200%;
    border: none;
    outline: none;
    animation: image-loading 2s infinite linear;
}

@keyframes image-loading {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -200%;
    }
}
